html {
    width:100%;
    height:100%;    
}

body {
    width:100%;
    height:100%;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.menuItem {
    width: 100px;
    height: 50px;
    color: white;
    background-color: gray;
}

@media all and (min-width: 500px) {
    .menu {
        flex-direction: row;
    }

    li:last-child {
        margin-left: auto;
    }
}
