.products{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  flex-grow: 1;
  background-color: white;
}
.product-offer{
  background-color: lightgreen;
}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  flex-grow: 2;
  background-color: gold;
}