body {
  margin: 0;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}
.product-offer{
  background-color: lightgreen;
}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  background-color: gold;
}