@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

$maincolor: rgb(186, 144, 144); 
$secondcolor: rgb(218, 189, 74); 

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Bitter', serif;
  display: flex;
  flex-direction: column;
}


header{
  height: 8vh;
  background: $maincolor;
  font-size: 10vw;
  color: white;
  text-align: center;
  padding: 2vh;
}

.play-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  & div{
    justify-self: center;
    padding: 0.5vh 1.5vw;
  }

}

.content-hint{
  padding: 2vh;
  text-align: center;
  justify-content: center;
  align-content: center;
  & p{
    margin: 0px 0px;
  }

}


.word-to-guess{
  font-size: 11vw;
  text-align: center;
  margin-top: 2vh;
}



.alphabet{

  display:grid;
  grid-template-columns: repeat(5, 1Fr);
  justify-content: space-around;
  grid-gap: 1vw;
  & div{
    justify-content: center;
  }

  & #z{grid-column: 4;}

  & #y{grid-column: 2;}

}

.button{

  background-color: $secondcolor;
  border: none;
  color: white;
  min-width: 5.2vh;
  max-width: 6.2vh;
  padding: -0.8vh 0.8vw;
  font-size: 29px;
  justify-self: center;
  margin: 1px 1px;
  cursor: pointer;
}

.button-off{
  background-color: rgb(155, 138, 68);
  border: none;
  color: white;
  min-width: 5.2vh;
  max-width: 6.2vh;
  padding: -0.8vh 0.8vw;
  font-size: 29px;
  justify-self: center;
  margin: 1px 1px;
  cursor: pointer;
}

.info-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.info-text{
  font-size: 12px;
  padding: 0vh 1vw;
  justify-content: center;
  align-self: center;
  
}
.main-butt{
  background-color: rgb(77, 147, 77);
  border: none;
  color: white;
  padding: 0.4vh 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.9vh;
  margin: 1vh 1vw;
  cursor: pointer;
}

.category-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh;
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;


  & img{
    width:12vw;
    align-self: center;
  }

}

footer{

  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  & p{
    margin: 0;
    padding: 0 5px;
  }
}

.rotating-block
{
-webkit-animation: spin1 2s infinite linear;
-moz-animation: spin1 2s infinite linear;
-o-animation: spin1 2s infinite linear;
-ms-animation: spin1 2s infinite linear;
animation: spin1 2s infinite linear;
    display: block;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 

@media all and (min-width:600px){
  .alphabet{
    grid-template-columns: repeat(9, 1Fr);
}

header{

  font-size: 6vh;
  color: white;
  text-align: center;
  padding: 2vh;
}

.word-to-guess{
  font-size: 8vw;
  text-align: center;
}

.alphabet{
  grid-gap: 1vw;
  & #z{grid-column: 9;}

  & #y{grid-column: 8;}
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  vertical-align: middle;

  & img{
    width:10vh;
    align-self: center;
  }
}

.button {

  border: none;
  color: white;
  min-width: 5.2vh;
  padding: 0.2vh 0.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vh;
  margin: 1px 1px;
  cursor: pointer;
  
}

.content-box{
  & div{
    padding: vh 1.5vw;
  }
}

}

