@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");

* {
  margin:0;
  padding:0;
  font-family: 'Merriweather Sans', sans-serif;
}

body {

}

h1 {
  color: #0d627a;
  padding: 8px;
}

.grid-wrapper{
  display:grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-flow: row;
  border: 2px solid #a1d3e1;
  background: #bde1eb;
}

.grid-wrapper>div{

  border: 1px solid #554115;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto; /* setting auto height */

}

.grid-wrapper>div>div{

  background: #d8a218;
  grid-row: 2;
  text-align: center;
  align-self: center;
  padding: 2px 0;

}

.col-1{

}

.col-2{
  grid-column: auto / span 2;
}

.col-3{
  grid-column: auto / span 3;
}

.col-4{
  grid-column: auto / span 4;
}

.col-5{
  grid-column: auto / span 5;
}

.col-6{
  grid-column: auto / span 6;
}

@media only screen and (max-width: 700px){
  


.grid-wrapper{
  display:grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: row;
  border: 2px solid #a1d3e1;
  background: #bde1eb;
}

.grid-wrapper>div{

  border: 1px solid #554115;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto; /* setting auto height */

}
  
  .grid-wrapper>div>div{
  
    background: #d8a218;
    grid-row: 2;
    text-align: center;
    align-self: center;
    padding: 2px 0;
  
  }
  
  .col-1a{
    grid-column: auto / span 2;
  }
  
  .col-2{
    grid-column: auto / span 2;
  }
  
  .col-3{
    grid-column: auto / span 2;
  }
  
  .col-4{
    grid-column: auto / span 2;
  }
  
  .col-5{
    grid-column: auto / span 2;
  }
  
  .col-6{
    grid-column: auto / span 2;
  }
}

