.products{
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

  

}
.product-offer{
  background-color: lightgreen;
  flex-grow:0;
}
.product-standard{
  background-color: lightgray;
  flex-grow:0;
}
.product-premium{
  background-color: gold;
  flex-grow:0;

}
