.products{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1000px;

}
.product-offer{
  background-color: lightgreen;
  
}
.product-standard{
  background-color: lightgray;
  
}
.product-premium{
  background-color: gold;
  

}
