.products{
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  
}
.product-offer{
  background-color: lightgreen;
}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  background-color: gold;

}
