.products{
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-offer{
  background-color: lightgreen;
}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  background-color: gold;
}