.products{
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  
}
.product-offer{
  background-color: lightgreen;
  flex-grow: 1;
}
.product-standard{
  background-color: lightgray;
  flex-grow: 1;
}
.product-premium{
  background-color: gold;
  flex-grow: 2;
}